<ul class="nav colors u-p-0 u-m-0">
	{{#foreach navigation}}
		<li class="nav--item nav-{{slug}}{{#if current}} nav-current{{/if}}">
			<a href="{{url absolute="true"}}" class="nav--link">{{label}}</a>
		</li>
	{{/foreach}}
</ul>
